.control-bar {
    color: grey;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
}

.control-bar .authoring-header {
    border-bottom: solid 1px #DB563B;
    flex: 1;
    margin-right: 30px;
    position: relative;
}

.control-bar .authoring-header.collapsed {
    max-width: 20px;
}

.control-bar .authoring-header.collapsed h4 {
    display: none;
}

.control-bar .authoring-header i {
    position: absolute;
    top: 0;
    right: 0;
}

.control-bar .student-view-header {
    border-bottom: solid 1px #DB563B;
    flex: 1 0 0;
}

.authoring-holder {
    flex: 1 0 0;
    margin-right: 30px;
}

.root {
    border: green;
}

.config-holder {
    display: flex;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.toggle-button {
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    outline: none;
}

.config-holder .student-view-holder {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
}

.config-holder .student-view-holder .mode-config {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.config-holder .student-view-holder .mode-config .modes-holder {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
}

.custom-checkbox .circle-container {
    border: 3px solid rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    height: 12px;
    padding: 3px;
    width: 12px;
}

.custom-checkbox .circle {
    background: transparent;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.custom-checkbox .circle-container.full .circle {
    background: #f50057;
}

.custom-checkbox .circle-container.full {
    border-color: #f50057;
}