@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "../../../node_modules/docson/public/css/docson.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.doc-holder {
    background-color: rgba(0, 0, 0, 0.2);
    align-items: flex-end;
    bottom: 0;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 101;
}

.doc-holder .close-icon {
    margin: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.doc-holder #schema-holder {
    padding: 0;
    height: 100%;
    width: 70%;
}

.doc-holder #schema-holder .box {
    background: #fff;
    height: 100%;
}

.doc-holder #schema-holder > .box > .box-header {
    background-color: #3f51b5;
    height: 65px;
}

.doc-holder #schema-holder > .box > .box-header .box-title .box-description p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 65px;
}

.doc-holder.mobile #schema-holder {
    width: 100%;
}

.doc-holder.visible {
    display: flex;
}

*:not(i) {
    font-family: Roboto, serif !important;
}

.root {
    background-color: #3f51b5;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    position: relative;
}

.root.multiplePies {
    height: 50%;
}

.root.loading {
    background: transparent;
}

.control-bar {
    color: grey;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    min-height: 76px;
    justify-content: space-between;
    width: 100%;
}

.control-bar.justElement {
    display: none;
}

.control-bar .collapse-icon {
    border-radius: 4px;
    border: 1px solid #3f51b5;
    color: #3f51b5;
    font-size: 16px;
    margin-right: 18px;
    padding: 7px;
}

.control-bar .collapse-icon.collapsed {
    background-color: #3f51b5;
    color: #fff;
}

.control-bar .toggle-icon {
    cursor: pointer;
    margin-right: 20px;
}

.control-bar .toggle-icon.toggled {
    color: #f9a825;
}

.control-bar .authoring-header {
    background: #fff;
    align-items: center;
    display: flex;
    flex: 1;
    height: 76px;
    justify-content: center;
    position: relative;
}

.control-bar .authoring-header .topContent .toggle-text {
    font-size: 12px;
    margin-right: 10px;
}

.control-bar .authoring-header .bottomContent {
    background: #fff;
    bottom: 0;
    display: none;
    height: calc(100vh - 76px);
    left: 0;
    position: absolute;
    top: 76px;
    width: 100%;
    z-index: 100;
}

.control-bar .authoring-header .bottomContent .tabs-container {
    height: 100%;
}

.control-bar .authoring-header .bottomContent .tabs-container .tab-content {
    height: calc(100% - 52px);
}

.control-bar .authoring-header .bottomContent .json-config {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    width: 100%;
}

.control-bar .authoring-header .bottomContent .json-config .json-config-header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    width: 100%;
}

.control-bar .authoring-header .bottomContent .json-config .json-config-header .right-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.control-bar .authoring-header .bottomContent .json-config .json-config-header .view-container,
.control-bar .authoring-header .bottomContent .json-config .json-config-header .right-content > div {
    cursor: pointer;
}

.control-bar .authoring-header .bottomContent .json-config .json-config-header .right-content .copy-container {
    margin-right: 25px;
}

.control-bar .authoring-header .bottomContent .json-config .json-config-header i {
    margin-right: 8px;
}

.control-bar .authoring-header .bottomContent .json-config textarea {
    resize: none;
}

.control-bar .authoring-header .bottomContent .json-config .json-content {
    background-color: #ffffff;
    border: 1px solid #DDD;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    color: #000000;
    font-size: 12px;
    height: 100%;
    padding: 16px;
    width: 100%;
}

.close-icon {
    background-color: #ffffff;
    border: 1px solid #3f51b5;
    border-radius: 4px;
    color: #3f51b5;
    cursor: pointer;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    margin-right: 18px;
    text-align: center;
    width: 32px;
}

.control-bar .header-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 24px;
}

.control-bar .header-title .title-info {
    display: flex;
    justify-content: flex-start;
}

.control-bar .header-title .title-info .option {
    margin-right: 5px;
    text-transform: uppercase;
}

.control-bar .header-title .title-info i {
    font-size: 4px;
    margin-right: 5px;
    vertical-align: middle;
}

.control-bar .header-title span {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.56);
}

.control-bar .header-title .title-info h4 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 500;
    margin: 0 8px 4px 0;
    text-align: left;
}

.control-bar .student-view-header.collapsed,
.control-bar .authoring-header.collapsed {
    max-width: 56px;
}

.control-bar .authoring-header.collapsed .header-title,
.control-bar .student-view-header.collapsed .header-title {
    display: none;
}

.control-bar .authoring-header.collapsed i,
.control-bar .student-view-header.collapsed i {
    margin: 0;
}

.control-bar .authoring-header.collapsed .buttons-container,
.control-bar .student-view-header.collapsed .buttons-container {
    display: none;
}

.control-bar .student-view-header {
    background: #fff;
    flex: 1 0 0;
    height: 76px;
}

.control-bar .student-view-header .bottomContent {
    display: none;
}

.control-bar .bottomContent .tabs-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.control-bar .bottomContent .tabs-container .tabs {
    background-color: #fafafa;
    border-bottom: 4px solid #eeeeee;
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: flex-start;
}

.control-bar .bottomContent .tabs-container .tabs .tab {
    cursor: pointer;
    color: #000;
    min-width: 100px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 135px;
}

.control-bar .bottomContent .tabs-container .selected-line {
    background-color: #3f51b5;
    bottom: 4px;
    height: 4px;
    position: absolute;
    top: 48px;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.control-bar .bottomContent .tabs-container .tab-content {
    height: 78px;
}

.control-bar .student-view-header.toggled {
    height: 210px;
}

.control-bar .toggled .bottomContent {
    display: block;
    height: 134px;
}

.control-bar .toggled .topContent {
    height: 76px;
}

.control-bar .topContent {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.control-bar .topContent .mobile-button {
    width: auto;
}

.control-bar .topContent .toggle-text {
    font-size: 12px;
    margin-right: 10px;
}

.control-bar .topContent .buttons-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.control-bar .topContent .buttons-container .toggle-container {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #3f51b5;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: space-between;
    margin-right: 5px;
    padding: 8px;
    width: 105px;
}

.control-bar .topContent .buttons-container .toggle-container.student {
    width: 82px;
}

.control-bar .topContent .buttons-container .toggle-container i {
    color: #3f51b5;
    font-size: 16px;
    margin-right: 0;
}

.control-bar .topContent .buttons-container .toggle-container .toggle-text {
    color: #3f51b5;
    margin-right: 0 !important;
}

.control-bar .topContent .buttons-container .toggle-container.toggled {
    background-color: #3f51b5;
}

.control-bar .topContent .buttons-container .toggle-container.toggled i {
    color: #fff;
}

.control-bar .topContent .buttons-container .toggle-container.toggled .toggle-text {
    color: #fff;
}

.control-bar .topContent h4 {
    margin-bottom: 10px;
}

.control-bar .student-view-header .bottomContent {
    height: 126px;
}

.control-bar .bottomContent .settings-tab-container {
    background-color: #fff;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-start;
    padding-left: 20px;
    width: 100%;
}

.control-bar .bottomContent .settings-tab-container .roles-settings,
.control-bar .bottomContent .settings-tab-container .modes-settings {
    align-self: center;
}

.control-bar .bottomContent .settings-tab-container .roles-settings h5,
.control-bar .bottomContent .settings-tab-container .modes-settings h5 {
    font-size: 12px;
    margin: 0 0 8px 0;
}

.control-bar .bottomContent .settings-tab-container .roles-settings .roles-options,
.control-bar .bottomContent .settings-tab-container .modes-settings .modes-options {
    align-items: center;
    display: flex;
    justify-content: center;
}

.control-bar .bottomContent .settings-tab-container .roles-settings .roles-options > *,
.control-bar .bottomContent .settings-tab-container .modes-settings .modes-options > * {
    margin-right: 18px;
}

.control-bar.mobile {
    align-items: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 76px;
    width: 100%;
}

.control-bar.mobile .buttons {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 76px;
    justify-content: space-between;
    padding: 0 16px;
    width: 100%;
}

.mobile-button {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #3f51b5;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: space-between;
    margin-right: 5px;
    padding: 8px;
    width: 105px;
}

.mobile-button span {
    color: #3f51b5;
    font-size: 14px !important;
    line-height: 1.39;
    letter-spacing: normal;
    margin: 0 !important;
}

.control-bar.mobile .student-tab-content {
    width: 100%;
}

.control-bar.mobile .student-tab-content .toggle-settings {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 400px;
}

.control-bar.mobile .student-tab-content .toggle-settings span {
    font-size: 12px;
    margin-right: 10px;
}

.control-bar.mobile .student-tab-content .bottomContent {
    display: none;
}

.control-bar.mobile.toggled .student-tab-content .bottomContent {
    display: block;
    height: 134px;
}

.control-bar.mobile.toggled .student-tab-content .bottomContent.smaller {
    display: block;
    height: 204px;
}

.control-bar.mobile.toggled .student-tab-content .bottomContent.smaller .settings-tab-container {
    box-sizing: border-box;
    flex-direction: column;
    padding: 20px;
}

.control-bar.mobile.toggled .student-tab-content .bottomContent.smaller .settings-tab-container .roles-settings {
    align-self: flex-start;
}

.control-bar.mobile.toggled .student-tab-content .bottomContent.smaller .settings-tab-container .modes-settings {
    align-self: flex-start;
    margin-bottom: 20px;
}

.control-bar.mobile.toggled .student-tab-content .bottomContent.smaller .tabs-container .tab-content {
    height: 152px;
}

.smaller-view {
    height: 100%;
    width: 100%;
}

.smaller-view .authoring-holder {
    height: calc(100% - 76px);
}

.smaller-view .student-view-holder {
    height: calc(100% - 120px);
}

.smaller-view .student-view-holder.toggled {
    height: calc(100% - 254px);
}

.smaller-view .element-holder {
    border: 16px solid #3f51b5;
    flex: 1;
    height: calc(100% - 32px);
    overflow: scroll;
    width: 98%;
}

.smaller-view .element-parent {
    background: #fff;
    border-radius: 4px;
    overflow: scroll;
    padding: 20px;
}

.smaller-view .element-holder {
    width: 98%;
}

.smaller-view.mobile .authoring-header:not(.toggled) {
    height: 100px;
}

.smaller-view.mobile .topContent .buttons-container {
    width: 100%;
}

.smaller-view.mobile .authoring-header:not(.toggled) .topContent {
    align-items: flex-start;
    flex-direction: column;
}

.smaller-view.mobile .authoring-header:not(.toggled) .topContent .header-title {
    margin-left: 16px;
    max-height: 36px !important;
}

.smaller-view.mobile .authoring-header:not(.toggled) .topContent .header-title span {
    display: none;
}

.smaller-view.mobile .authoring-header.toggled .topContent .header-title {
    width: 100%;
}

.smaller-view.mobile .authoring-header.toggled .topContent .header-title span {
    font-size: 10px;
}

.config-holder {
    background-color: #3f51b5;
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

.config-holder .element-holder {
    position: absolute;
    top: 76px;
    left: 0;
    width: 96%;
    overflow: scroll;

    border: 16px solid #3f51b5;
    flex: 1;
    height: calc(100% - 108px);
}

.config-holder .element-holder.justElement {
    top: 0;
}

.config-holder .element-holder.toggled {
    top: 210px;
}

.config-holder .element-parent {
    background: #fff;
    border-radius: 4px;
    overflow: scroll;
    padding: 20px;
    position: relative;
}

.config-holder .collapsed-panel {
    justify-content: center;
    background: #fff;
    display: flex;
    color: #707070;
    max-width: 56px;
    flex: 1;
}

.config-holder .collapsed-panel span {
    line-height: 1.83;
    text-orientation: upright;
    text-transform: uppercase;
    writing-mode: tb-rl;
}

.config-holder .authoring-holder {
    /*background: #fff;*/
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    position: relative;
}

.config-holder .authoring-holder.collapsed {
    max-width: 56px;
}

.toggle-button {
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    outline: none;
}

.divider {
    background: #2336a0;
    flex: 1;
    max-width: 2px !important;
    z-index: 9;
}

.divider:after {
    background-color: #ebebeb;
    content: '';
    display: block;
    height: 76px;
    width: 2px;
}

.divider.larger:after {
    height: 210px;
}

.config-holder .student-view-holder {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    position: relative;
}

.config-holder .student-view-holder.collapsed {
    max-width: 56px;
}

.score-holder {
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    display: none;
    margin-bottom: 40px;
    min-height: 40px;
    overflow: scroll;
    padding: 20px;
    width: 100%;
}

.score-holder.visible {
    display: block;
}

.score-holder .score {
    margin-bottom: 10px;
}

.score-holder pre {
    border: solid 1px rgba(0,0,0,0.14);
    background-color: white;
    padding: 8px;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
}

.custom-checkbox i {
    color: #3f51b5;
    margin-right: 8px;
}

/* Overrides */
[class*=MuiCheckbox-checked] {
    color: green !important;
}

.root .lmask {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    opacity: 0.4;
}

.root .lmask.fixed {
    position: fixed;
}

.root .lmask:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(63, 81, 181, 0.9);
    opacity: 0.9;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 35px rgba(63, 81, 181, 0.9);
    width: 50px;
    height: 50px;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.root .lmask:after {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(63, 81, 181, 0.9);
    opacity: 0.9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(63, 81, 181, 0.9);
    width: 30px;
    height: 30px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes spinPulse {
    0% {
        transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px rgba(63, 81, 181, 0.9);
    }
    50% {
        transform: rotate(145deg);
        opacity: 1;
    }
    100% {
        transform: rotate(-320deg);
        opacity: 0;
    }
}

@keyframes spinoffPulse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

