@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*:not(i) {
    font-family: Roboto, serif !important;
}

.root {
    background-color: #3f51b5;
    height: 100%;
}

.control-bar {
    background: #fff;
    color: grey;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    height: 74px;
    justify-content: space-between;
    width: 100%;
}

.control-bar .collapse-icon {
    cursor: pointer;
}

.control-bar .authoring-header {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    border-right: 2px solid #ebebeb;
}

.control-bar .authoring-header .collapse-icon {
    margin-left: 22px;
}

.control-bar .student-view-header h4,
.control-bar .authoring-header h4 {
    color: rgba(0, 0, 0, 0.87);
    flex: 1;
    font-size: 16px;
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.control-bar .student-view-header.collapsed,
.control-bar .authoring-header.collapsed {
    max-width: 56px;
}

.control-bar .authoring-header.collapsed h4,
.control-bar .student-view-header.collapsed h4 {
    display: none;
}

.control-bar .authoring-header.collapsed i,
.control-bar .student-view-header.collapsed i {
    margin: 0;
}

.control-bar .student-view-header.collapsed .center-content {
    display: none;
}

.control-bar .student-view-header {
    align-items: center;
    display: flex;
    justify-content: center;
    flex: 1 0 0;
}

.control-bar .student-view-header h4 {
    margin-bottom: 10px;
}

.control-bar .student-view-header .collapse-icon {
    margin-right: 22px;
}

.control-bar .student-view-header .center-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.control-bar .student-view-header .center-content .mode-config {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.control-bar .student-view-header .center-content .mode-config h5 {
    margin: 0 18px 0 0;
}

.control-bar .student-view-header .center-content .mode-config .modes-holder {
    align-items: center;
    display: flex;
    justify-content: center;
}

.control-bar .student-view-header .center-content .mode-config .modes-holder > * {
    margin-right: 18px;
}

.config-holder {
    background-color: #3f51b5;
    display: flex;
    height: 100%;
    padding-bottom: 20px;
    width: 100%;
}

.config-holder .collapsed-panel {
    justify-content: center;
    background: #fff;
    display: flex;
    color: #707070;
    max-width: 56px;
    flex: 1;
}

.config-holder .collapsed-panel span {
    line-height: 1.83;
    text-orientation: upright;
    text-transform: uppercase;
    writing-mode: tb-rl;
}

.config-holder .authoring-holder {
    border: 16px solid #3f51b5;
    background: #fff;
    border-radius: 20px;
    display: table;
    flex: 1 0 0;
    padding: 16px;
}

.config-holder .authoring-holder.collapsed {
    max-width: 56px;
}

.toggle-button {
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    outline: none;
}

.divider {
    background: #2336a0;
    height: 100%;
    width: 2px;
}

.config-holder .student-view-holder {
    background: #fff;
    border: 16px solid #3f51b5;
    border-radius: 20px;
    display: table;
    flex: 1 0 0;
    flex-direction: column;
    padding: 16px;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
}

.custom-checkbox i {
    color: #3f51b5;
    margin-right: 8px;
}

/* Overrides */
[class*=MuiCheckbox-checked] {
    color: green !important;
}
